kshf.sublime-project

.DS_Store

kshf.sublime-workspace

notes

notesss.txt

data/infosthetics.py

data/infosthetic.tsv

data/infosthetics.txt

whiz.sublime-project

whiz.sublime-workspace

trial copy.html

demo/data/xparty_ideas.csv

demo/data/xparty_fits.csv

demo/data/xparty_users.csv

demo/data_private/

demo/private/


keshif.sublime-project

keshif.sublime-workspace

demo/data/xparty_results.tsv

demo/huawei_data

demo/huawei_app.html

personal

out

demo_private

survey
