@import "../../lesshat";

html, body {
    min-height: 100%;
    margin:0px;
    padding: 0px;
}
body{
	//background-image: url("../img/fabric_of_squares_gray.png");
/*    background-color: rgb(233, 229, 212);
    background-image: repeating-linear-gradient(
    	40deg, 
    	transparent, 
    	transparent 7px, 
    	rgba(255,255,255,.2) 7px, 
    	rgba(255,255,255,.2) 10px);*/
}
.contents {
	padding-top: 10px;
}
#chart_div {
    margin: 0 auto;
}

.listDiv[displaytype="grid"]{
	> .listItemGroup{
		> .listItem{
			> .content{
				.thumbnail{
	                display: block;
	                overflow-y: hidden;
	                overflow-x: hidden;
	                position: relative;
	                .transition(~'background-color 300ms linear');
	                > .thumbImg{
	                	display: block;
	                	margin-left: auto;
	                	margin-right: auto;
	                	background-color: white;
	                	width: calc(100% - 10px);
	                }
	            }
				.subTitle{
					display: block;
					font-family: Georgia,"Times New Roman",Times,serif;
					font-style: italic;
					font-weight: 400;
					color: gray;
					font-size: 0.8em;
					text-align: left;
				}
				.title{
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 2px;
					text-align: left;
					font-size: 0.9em;
					font-family: 'Helvetica Neue Custom', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-weight: 700;
				}
			}
			&:hover .thumbImg{
				box-shadow: 0px 0px 4px black;
			}
			&[highlight=true] > .content .thumbnail{
			    background-color: orangered;
			}
		}
	}
}


.pageTitle{
	margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    text-shadow: 2px 2px 0px lightgray;
    text-transform: capitalize;
}

.pageSubtitle{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.5em;
}

#infobox{
    width: 100%;
    left: 0%;
    position: fixed;
    text-align: center;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 0.8em;
    bottom: 0px;
    padding: 3px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…g9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -webkit-linear-gradient(bottom, rgb(223, 210, 169) 0%, rgba(255,255,255,0) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(223, 210, 169) 0%, rgba(255,255,255,0) 80%);
    background-image: -o-linear-gradient(bottom, rgb(223, 210, 169) 0%, rgba(255,255,255,0) 80%);
    background-image: linear-gradient(to top, rgb(223, 210, 169) 0%, rgba(255,255,255,0) 80%);;
    a{
    	color: black !important;
    	font-weight: 500;
    }
    .fa{
        color:gray;
    }
}

.keshif_logo{
	position: absolute;
	display: block;
	top: 5px;
	left: 5px;
	width: 33px;
	height: 33px;
	font-size: 12px;
	overflow: hidden;
	cursor: auto;
	.transition(~'width 500ms ease-in-out, background-color 500ms ease-in-out');
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	&:hover{
		background-color: #EEEEEE;
		width: 200px;
	}
	> .keshif_logo_img{
		height: 33px;
		float: left;
	}
	> .keshif_logo_content{
		display: block;
		width: 300px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		letter-spacing: .12em;
		color: #727365;
		vertical-align: center;
	}
}

.comment_popup{
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    .fa-stack{
        float:left;
        clear:left;
        height: 1.5em;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 2em;
    }
    .fa-comment{
        color: rgb(255, 205, 46);
    }
    .texttt{
        font-family: sans-serif;
        font-weight: 300;
        font-size: 0.8em;
    }
    &:hover{
    	.texttt{
    	    color: orangered;
    	}
    	.fa-comment{
    	    color: orangered;
    	}
    }
}

.forkongithub {
	position:fixed;
	display:block;
	z-index: 0;
	a.fork-ribbon{
	    background:#000;
	    color:#fff;
	    text-decoration:none;
	    font-family:arial,sans-serif;
	    text-align:center;
	    font-weight:bold;
	    padding:5px 40px;
	    font-size:0.8rem;
	    line-height:1.5rem;
	    position:relative;
	    transition:0.5s;
	    &::before, &::after{
	    	width:100%;
	    	display:block;
	    	position:absolute;
	    	top:1px;
	    	left:0;
	    	height:1px;
	    	background:#fff;
	    	content:"";
	    }
	    &::after{
			bottom:1px;
			top:auto;
		}
	    &:hover{
	    	background:orangered;
	    	color:#fff;
	    }
	}
}

@media screen and (min-width:800px){
    .forkongithub{
        width:150px;
        height:150px;
    	&.fork-bottom{
    		bottom:0;
    	}
    	&.fork-right{
    		right:0;
    		a.fork-ribbon{
    			font-size: 1.1em;
    			.transform(~'rotate(-45deg)');
    		}
    	}
    	&.fork-left{
    		left:-60px;
	    	a.fork-ribbon{
	    		.transform(~'rotate(45deg)');
	    		right: auto;
	    		left: 0px;
	    	}
    	}
    }
    .forkongithub a.fork-ribbon{
        width:150px;
        position:absolute;
        top:80px;
        right:-60px;
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}


