html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("../img/fabric_of_squares_gray.png");
  /*    background-color: rgb(233, 229, 212);
    background-image: repeating-linear-gradient(
    	40deg, 
    	transparent, 
    	transparent 7px, 
    	rgba(255,255,255,.2) 7px, 
    	rgba(255,255,255,.2) 10px);*/
}
.contents {
  padding-top: 10px;
}
#chart_div {
  margin: 0 auto;
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem > .content .thumbnail {
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem > .content .thumbnail > .thumbImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: calc(90%);
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem > .content .subTitle {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  color: gray;
  font-size: 0.8em;
  text-align: left;
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem > .content .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  text-align: left;
  font-size: 0.9em;
  font-family: 'Helvetica Neue Custom', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem:hover .thumbImg {
  box-shadow: 0px 0px 4px black;
}
.listDiv[displaytype="grid"] > .listItemGroup > .listItem[highlight=true] > .content .thumbnail {
  background-color: orangered;
}
.pageTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 5px;
  text-shadow: 3px 3px 0px lightgray;
  text-transform: capitalize;
}
.meny {
  display: none;
  padding: 20px;
  overflow: auto;
  background: #333;
  color: white;
  background-color: #222;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.meny div.credit {
  right: 10px;
  text-align: right;
  position: absolute;
  bottom: 10px;
  font-weight: 300;
  font-size: 0.8em;
}
.meny div.credit a {
  color: #aa8585;
}
.meny .developed {
  font-weight: 300;
  font-size: 0.9em;
  position: absolute;
  bottom: 80px;
}
.meny .developed .projectName {
  font-weight: 500;
  font-size: 1.3em;
  color: red;
}
.meny .developed .me {
  font-size: 1em;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}
.meny .developed .source_code {
  display: block;
  font-size: 0.8em;
}
.meny .developed .source_code .descr {
  width: 140px;
  line-height: 1.8em;
  padding: 5px;
  display: inline-block;
}
.meny .developed .source_code iframe {
  float: right;
  margin-top: 5px;
  clear: right;
}
.meny .developed a {
  color: #C7C3B5;
}
.meny .developed .hcil_img {
  margin-top: 10px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
  position: absolute;
  z-index: 10;
  border: 20px solid transparent;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -moz-transition: opacity 0.4s ease 0.4s;
  -ms-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
  left: 14px;
  top: 50%;
  margin-top: -25px;
  border-left: 25px solid #333;
}
.meny-right .meny-arrow {
  right: 14px;
  top: 50%;
  margin-top: -25px;
  border-right: 25px solid #333;
}
.meny-top .meny-arrow {
  left: 50%;
  top: 14px;
  margin-left: -25px;
  border-top: 25px solid #333;
}
.meny-bottom .meny-arrow {
  left: 50%;
  bottom: 14px;
  margin-left: -25px;
  border-bottom: 25px solid #333;
}
.meny-active .meny-arrow {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#infobox {
  width: 100%;
  left: 0%;
  position: fixed;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 0.8em;
  bottom: 0px;
  padding: 3px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…g9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, #dfd2a9 0%, #ffffff 80%);
  background-image: -moz-linear-gradient(bottom, #dfd2a9 0%, #ffffff 80%);
  background-image: -o-linear-gradient(bottom, #dfd2a9 0%, #ffffff 80%);
  background-image: linear-gradient(to top, #dfd2a9 0%, #ffffff 80%);
}
#infobox a {
  color: black !important;
  font-weight: 500;
}
#infobox span.fa {
  color: gray;
}
