.overlay_answer .highlightBox {
  position: absolute;
  border: solid 2px green;
  box-shadow: 0px 0px 5px green;
}
.overlay_answer[attention=true] .highlightBox {
  -webkit-animation: attention2 0.3s 2 ease-in-out;
  -moz-animation: attention2 0.3s 2 ease-in-out;
  -o-animation: attention2 0.3s 2 ease-in-out;
  animation: attention2 0.3s 2 ease-in-out;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help {
  width: 600px;
  position: absolute;
  top: 20px;
  bottom: inherit;
  -lh-property: 0;
right:-webkit-calc(50% - 310px);
right:-moz-calc(50% - 310px);
right:calc(50% - 310px);
;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .answer_box {
  display: none;
  position: absolute;
  top: 3px;
  font-weight: 300;
  border: solid 1px gray;
  border-radius: 10px;
  font-size: 0.8em;
  cursor: pointer;
  padding: 0px 3px;
  background-color: white;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .answer_box.answer_ok {
  right: 3px;
  background-color: #918D85;
  color: white;
  font-weight: 400;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .answer_box.answer_ok:hover {
  background-color: orangered;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .answer_box.answer_back {
  left: 3px;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .answer_box.answer_back:hover {
  color: orangered;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .SearchBlock {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #efeadf;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions {
  overflow-y: auto;
  overflow-x: hidden;
  border-color: gray;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  box-shadow: 0px 0px 2px gray;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock {
  margin: 2px 4px;
  border: solid 1px lightgray;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: block;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock:hover {
  background-color: #efeadf;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock > .notInContext {
  display: none;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  text-align: center;
  color: gray;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock > .QuestionText > .fa-question-circle {
  color: gray;
  margin: 0px 3px;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock > .QuestionIcons {
  position: absolute;
  right: 2px;
  top: 0px;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock > .QuestionIcons .icon {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 4px;
  color: gray;
  width: 14px;
  text-align: center;
  vertical-align: top;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock[outOfContext] {
  cursor: default;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .Questions > .QuestionBlock[outOfContext] > .notInContext {
  display: block;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .MoreInfo {
  font-weight: 300;
  font-size: 0.7em;
  padding: 3px;
  cursor: default;
  background-color: #efeadf;
  overflow: hidden;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help > .MoreInfo > .MoreInfoLink {
  color: black;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] {
  height: initial;
  width: 370px;
  right: 10px;
  top: 10px;
  box-shadow: 0px 0px 20px black;
  margin: initial;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true][attention=true] {
  -webkit-animation: attention 0.3s 2 ease-in-out;
  -moz-animation: attention 0.3s 2 ease-in-out;
  -o-animation: attention 0.3s 2 ease-in-out;
  animation: attention 0.3s 2 ease-in-out;
  box-shadow: 0px 0px 20px #992900, 0px 0px 10px #ff4500;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .SearchBlock > .QuestionTypes {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .SearchBlock > .hideNonRelevant {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .SearchBlock > .TextSearchBlock {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .SearchBlock .SearchTextBox {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .answer_box {
  display: block;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .MoreInfo {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .overlay_Close {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .Questions {
  overflow: hidden;
  -webkit-box-flex: initial;
  -moz-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .Questions > .QuestionBlock {
  display: none;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .Questions > .QuestionBlock[selected=true] {
  display: block;
}
.kshf .panel.panel_overlay > .overlay_content.overlay_help[question=true] > .Questions > .QuestionBlock[selected=true]:hover {
  background-color: inherit;
  cursor: default;
}
.QuestionTypes {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: gray;
  margin-bottom: 3px;
  padding: 0px 0px 0px 4px;
  background-color: #F6F6F6;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.QuestionTypes > .TypeLabel {
  width: 60px;
  color: #cb5454;
  height: 1em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  text-align: right;
}
.QuestionTypes > .TypeLabel:after {
  content: ": ";
}
.QuestionTypes > .TypeGroup {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 36px;
  text-align: left;
  font-size: 0.8em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.QuestionTypes.ActionTypes > .TypeLabel:before {
  content: "Actions";
}
.QuestionTypes.TopicTypes > .TypeLabel:before {
  content: "Topics";
}
.QuestionTypeSelect {
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #BCBCBC;
  margin: 1px 2px;
  padding: 1px 3px;
  cursor: pointer;
  background-color: white;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.QuestionTypeSelect:hover {
  color: orangered;
}
.QuestionTypeSelect[selected=true] {
  color: orangered;
  font-weight: 500;
  border-color: red;
}
.QuestionTypeSelect > .topicInfoMark {
  color: gray;
  margin: 0px 2px;
}
.QuestionTypeSelect > .topicInfoMark:hover {
  color: orangered;
}
.QuestionTypeSelect > .num {
  margin-left: 2px;
  font-size: 0.7em;
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
}
.QuestionTypeSelect > .num:before {
  content: "(";
}
.QuestionTypeSelect > .num:after {
  content: ")";
}
.TextSearchBlock {
  text-align: center;
  padding: 3px;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 3px;
}
.TextSearchBlock > .fa-search {
  color: gray;
  font-size: 0.8em;
}
.TextSearchBlock > .SearchTextBox {
  width: 80px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #cb5454;
  margin: 1px 1px 0px 1px;
  font-family: Roboto;
  font-size: 1em;
  font-style: italic;
  padding: 0px;
  color: #cb5454;
  background-color: #efeadf;
}
.TextSearchBlock > .SearchTextBox:focus {
  outline-color: #cb5454;
  outline-width: 0px;
  margin: 0px;
  border-width: 1px;
  font-style: italic;
}
.TextSearchBlock > .SearchTextBox:hover {
  border-width: 1px;
  margin: 0px 1px 0px 1px;
  background-color: white;
}
.TextSearchBlock > .SearchTextBox::-webkit-input-placeholder {
  font-weight: 300;
  font-style: italic;
}
.TextSearchBlock > .SearchTextBox:focus::-webkit-input-placeholder {
  color: #F3CDCD;
}
.textSearch_highlight {
  background-color: yellow;
}
.hideNonRelevant {
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 0.8em;
  font-weight: 300;
  border: solid 1px gray;
  border-radius: 20px;
  padding: 0px 3px;
  /* margin: 0px 3px; */
  margin: 0px 3px;
  cursor: pointer;
  background-color: white;
}
.hideNonRelevant > .fa {
  margin: 0px 2px;
}
.hideNonRelevant:hover {
  color: orangered;
}
.hideNonRelevant[hide="true"]:after {
  content: "Relevant";
}
.hideNonRelevant[hide="true"] > .fa:before {
  content: "\f205";
}
.hideNonRelevant[hide="false"]:after {
  content: "Other";
}
.hideNonRelevant[hide="false"] > .fa:before {
  content: "\f204";
}
.closePanel {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  font-size: 1.3em;
  width: 20px;
  text-align: right;
  color: gray;
}
.closePanel:hover {
  color: orangered;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes attention{ 0%{ -webkit-transform: scale(1); } 50%{ -webkit-transform: scale(1.07); } 100%{ -webkit-transform: scale(1); }}
@-moz-keyframes attention{ 0%{ -moz-transform: scale(1); } 50%{ -moz-transform: scale(1.07); } 100%{ -moz-transform: scale(1); }}
@-o-keyframes attention{ 0%{ -o-transform: scale(1); } 50%{ -o-transform: scale(1.07); } 100%{ -o-transform: scale(1); }}
@keyframes attention{ 0%{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); } 50%{-webkit-transform: scale(1.07);-moz-transform: scale(1.07);-ms-transform: scale(1.07);transform: scale(1.07); } 100%{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes attention2{ 0%{ -webkit-transform: scale(1); background-color: rgba(1,1,1,0); } 50%{ -webkit-transform: scale(1.07); background-color: rgba(30,250,30,0.3); } 100%{ -webkit-transform: scale(1); background-color: rgba(1,1,1,0); }}
@-moz-keyframes attention2{ 0%{ -moz-transform: scale(1); background-color: rgba(1,1,1,0); } 50%{ -moz-transform: scale(1.07); background-color: rgba(30,250,30,0.3); } 100%{ -moz-transform: scale(1); background-color: rgba(1,1,1,0); }}
@-o-keyframes attention2{ 0%{ -o-transform: scale(1); background-color: rgba(1,1,1,0); } 50%{ -o-transform: scale(1.07); background-color: rgba(30,250,30,0.3); } 100%{ -o-transform: scale(1); background-color: rgba(1,1,1,0); }}
@keyframes attention2{ 0%{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); background-color: rgba(1,1,1,0); } 50%{-webkit-transform: scale(1.07);-moz-transform: scale(1.07);-ms-transform: scale(1.07);transform: scale(1.07); background-color: rgba(30,250,30,0.3); } 100%{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); background-color: rgba(1,1,1,0); };
}
